<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
        <span>Posted by {{user.username}}</span>

    </div>
    <div class="meta">
        <p>{{content}}</p> |
    </div>
</article>