<section class="create-post">
    <a href="dashboard/add-post" class="add-post-link">Create New Post</a>
</section>

{{#if posts.length}}
<section>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> dash-post post}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}