:root {
    --main-color: maroon;
    --second-color: lightgrey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Console', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--second-color);
}

header {
    background-color: var(--main-color);
    display: block;
    text-align: center;
    padding: 30px;
    color: var(--second-color);
}

nav {
    margin-top: 7px;
    font-size: 15px;
}

a {
    color: var(--second-color);
    text-decoration: none;
}

nav a:hover {
    font-size: 17px;
}

ol {
    list-style: none;
}

.dashboard-link {
    padding: 0 7px;
}

.post {
    border: 4px solid var(--main-color);
    margin: 20px;
}

.title {
    display: flex;
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    justify-content: space-between;
}

.meta {
    padding: 5px 10px;
    color: var(--main-color);
}

#logout {
    color: var(--second-color);
    background: none;
    border: none;
    font-size: 15px;
    font-family: 'Lucida Console', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#logout:hover {
    font-size: 17px;
}

div.form {
    border: 4px solid var(--main-color);
    padding: 10px;
    display: block;
    text-align: center;
    margin: 20px;
}

.comment-form {
    margin: auto;
}

.comment-body {
    width: 100%;
}

.submit-comment {
    width: 100%;
}

.create-post {
    text-align: center;
    margin-top: 20px;
}

.add-post-link {
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;

}

.add-post-link:hover {
    background-color: rgba(128, 0, 0, 0.8);
    font-size: 22px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.auth-form {
    margin: 20px 30px;
    width: 250px;
}

.auth-form div {
    padding-top: 10px;
}

.auth-btn {
    width: 100%;
    background-color: var(--main-color);
    color: var(--second-color);
    border: none;
    box-shadow: 0 0 3px black;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Console', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-form div input {
    width: 100%;
    margin-top: 3px;
    padding: 3px 5px;
}